body {
  background-color: forestgreen;
  display: flex;
  justify-content: center;
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  padding: 10px;
  text-align: center;
}
div.main {
  font-family: "VT323";
  font-size: 20px;
  background-color: forestgreen;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
}
div.intro {
  font-family: "VT323";
  font-size: 20px;
  background-color: white;
  margin: 10px;
  border: black 1px solid;
  justify-content: space-evenly;
}
div.container {
  font-family: "VT323";
  font-size: 20px;
  background-color: white;
  margin: 20px 10px;
  border: black 1px solid;
  text-align: center;
}
p,
span {
  padding: 10px;
}
button {
  background-color: forestgreen;
  padding: 10px 40px;
  border: none;
}
.buttons {
  margin: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
}
.buttonBox {
  background-color: forestgreen;
}
